.body_color {
    background-color: #ffebeb;
}

.body_negro {
    background-color: #1a1a1a;
}


.gris {
    background-color: #4d4d4d;
}

.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    background-color: #fff;
}

.card-dark {
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    background-color: #333333;
}

.card-header {
    background-color: #ff4d4d;
    color: #fff;
    text-align: center;
    font-weight: bold;
    border-radius: 10px 10px 0 0;
}

.card-header a {
    position: relative;
    top: 0;
    left: 0;
    padding: 10px;
    color: #fff;
    z-index: 1;
}

.card-header a i {
    color: #fff;
}

.card-header .bi-moon-fill {
    font-size: 20px;

}

.label_light {
    color: #343a40;
}

.label_dark {
    color: #fff;
}

.label_light_shadow {
    color: darkslategrey;
}
.label_dark_shadow{
    color: darkgrey;
}

.label_light_gender {
    color: #343a40;
}

.label_dark_gender {
    color: #fff;
}
.label_dark_shadow{
    color: lightgrey;
}

.p_light {
    color: #343a40;
}

.p_dark {
color: #fff;
}


.form_control {
border-radius: 0;
border: none;
background-color: #ffcccc;
color: #252525;
}

.form_control_dark {
border-radius: 0;
border: none;
background-color: #4d4d4d;
color: #fff;
}
.form_select_dark {
border-radius: 0;
border: none;
background-color: #4d4d4d;
color: #fff;
}
.form_select {
border-radius: 0;
border: none;
background-color: #ffcccc;
color: #252525;
}

.btn-primary {
background-color: #ff4d4d;
border-color: #ff4d4d;
}

.btn-primary:hover {
background-color: #ff3333;
border-color: #ff3333;
}

a {
color: #ff4d4d;
}

.foto_perfil{
border: solid 1px #ff4d4d;
width : 200px;

}